<h1>Hello World!</h1>

<p>Welcome to this wonderful website!</p>

<p>Now is <%= Time.now %></p>

<ul>
    <li><%= link_to "More info about Contact", contact_path, class: "btn btn-primary" %></li>
    <li><%= link_to "More info about Us", about_path, class: "btn btn-danger" %></li>
</ul>

