<form action="/search" method="get">
  <input type="text" name="name" value="<%= @letter %>" placeholder="Who are you looking for?">
  <input type="submit">
</form>

<p>You are looking for <strong><%= @letter %></strong>:</p>

<% @names.each do |name| %>
  <%= name.capitalize %>
<% end %>